/* Reset some default browser styles */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5;
    color: #333;
  }
  

  header {
    background-color: #101e2c; 
    color: white;
    padding: 15px 0;
    position: relative;
  }
  
  .container {
    width: 90%;
    max-width: 2000px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  /* Logo styles */
  .logo {
    font-size: 1.8rem;
    font-weight: bold;
    color: #35bfff; /* Gold color for the logo */
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .logo:hover {
    color: #fff; /* Change color on hover */
  }
  
  /* Navigation styles */
  nav ul {
    list-style-type: none;
    display: flex;
  }
  
  nav ul li {
    position: relative;
    margin-left: 20px;
  }
  
  nav ul li a {
    color: white;
    text-decoration: none;
    padding: 10px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
  }
  
  nav ul li a:hover {
    background-color: #35bfff; /* Gold color on hover */
    color: #343a40; /* Dark text color on hover */
  }
  
  /* Dropdown menu styles */
  .menu-container {
  position: relative;
}

.menu {
  display: none;
  position: absolute;
  top: 100%;
  background-color: #2c3e50;
  border-radius: 5px;
  padding: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
  min-width: 150px;
}

.menu-container:hover .menu {
  display: block;
}

.menu a {
  display: block;
  color: white;
  padding: 8px 12px;
  text-decoration: none;
}

.menu a:hover {
  background-color: #34495e;
}

.logout-button {
  display: block;
  width: 100%;
  color: white;
  background-color: #e74c3c;
  padding: 8px 12px;
  border: none;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #c0392b;
}
  
  /* Responsive styles */
  @media (max-width: 768px) {
    .container {
      flex-direction: column;
      align-items: flex-start;
    }
  
    nav ul {
      flex-direction: column;
      width: 100%;
    }
  
    nav ul li {
      margin: 10px 0;
    }
  }