<div class="container mt-5">
    <h1 class="text-center mb-4">ข่าวสารและกิจกรรม</h1>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/598698793.jpg?k=06a1d82a977b8abcd07b1a62cd7dc02d40fa8fc3d91d32a666dacbf27d4309c0&o=&hp=1"
            alt="โปรโมชั่นพิเศษเดือนนี้"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">โปรโมชั่นพิเศษเดือนนี้</h5>
            <p class="card-text"><strong>2024-10-01</strong></p>
            <p class="card-text">เข้าพัก 3 คืน รับส่วนลด 20% ในการจองห้องพัก!</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/212067293.jpg?k=e7ed97cc7b9888711e33d022a55d2dfb801045a92b0cb7ed7329a682cd3ff85d&o=&hp=1"
            alt="กิจกรรมพิเศษในวันหยุด"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">กิจกรรมพิเศษในวันหยุด</h5>
            <p class="card-text"><strong>2024-10-05</strong></p>
            <p class="card-text">เข้าร่วมกิจกรรมทำอาหารที่รีสอร์ทในสุดสัปดาห์นี้!</p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://cf.bstatic.com/xdata/images/hotel/max1024x768/273295139.jpg?k=fd78a47ee5c09df0131d54472a15f6f7bf964412efeaaa31526205ead7efd461&o=&hp=1"
            alt="บริการใหม่ที่รีสอร์ท"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">บริการใหม่ที่รีสอร์ท</h5>
            <p class="card-text"><strong>2024-10-07</strong></p>
            <p class="card-text">เรามีบริการสปาใหม่ ที่จะทำให้คุณรู้สึกผ่อนคลาย!</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  