<h2>Booking Details</h2>
<div class="booking-details-container">
    
  
    <div class="car-details">
      <h3>Car Details</h3><hr>
      <div class="details-layout">
        <img [src]="bookingDetails.car.car_image" alt="Car Image" class="car-image" />
        <div class="details-text">
          <p><strong>Car Name:</strong> {{ bookingDetails.car.car_name }}</p>
          
          <p><strong>Price per Day:</strong> {{ bookingDetails.car.car_price }}</p>
          <p><strong>Stock:</strong> {{ bookingDetails.car.car_stock }}</p>
          <p><strong>Total Days:</strong> {{ totalDays }}</p>
          <p><strong>Total Price:</strong> {{ totalPrice }}</p>
          <p><strong>Start Date:</strong> {{ bookingDetails.startDate | date }}</p>
          <p><strong>End Date:</strong> {{ bookingDetails.endDate | date }}</p>
        </div>
      </div>
    </div><hr>
  
    <div class="user-info">
      <h3>User Information</h3><br>
      <p><strong>Name:</strong> {{ user ? user.user_name : 'N/A' }}</p>
      <p><strong>Email:</strong> {{ user ? user.user_email : 'N/A' }}</p>
      <p><strong>Address:</strong> {{ user ? user.user_address : 'N/A' }}</p>
    </div>
  
    <button (click)="confirmBooking()">Confirm Booking</button>
  </div>
  