.full-width-container {
    width: 100vw;
    height: auto;
    padding: 10px 0;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0 2px 4px rgba(104, 104, 104, 0.1);
    border-radius: 10px;
}

.custom-btn {
    background-color: white;
    color: black;
    border: 1px solid #ffffff;
    padding: 15px 50px;
    margin: 1px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.custom-btn:hover {
    background-color: #d5fffc;
    color: black;
}
