<!DOCTYPE html>
<html lang="th">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Us</title>
    <!-- ลบลิงก์ที่ไม่จำเป็น -->
</head>
<body>
    <div class="contact-container">
        <h2>Contact-Us</h2>
        <div class="contact-info">
            <div class="contact-details">
                <h3>บริษัท เร้นท์ (ประเทศไทย) จำกัด</h3>
                <p>9/222-224, UM Tower, ถนนรามคำแหง, แขวงสวนหลวง, เขตสวนหลวง, กรุงเทพฯ 10250</p>
                <p>เบอร์โทร: 02-017-7200</p>
                <div class="social-media">
                    <!-- ใช้ไอคอนจาก bootstrap-icons -->
                    <a href="https://www.facebook.com/groups/2313124042220552/">
                        <i class="bi bi-facebook" style="font-size: 30px;"></i> <!-- ใช้ไอคอน Facebook -->

                    </a>
                    <a href="https://www.youtube.com/watch?v=dTS_aNfpbIM"> 
                        <i class="bi bi-youtube" style="font-size: 30px;"></i>
                    </a>
                    <a href="#">
                        <i class="bi bi-line" style="font-size: 30px;"></i>
                    </a>
                </div>
            </div>
            <div class="google-map">
                <h4 class="google-map">
                    <span style="color: #4285F4;">G</span>
                    <span style="color: #EA4335;">o</span>
                    <span style="color: #FBBC05;">o</span>
                    <span style="color: #34A853;">g</span>
                    <span style="color: #4285F4;">l</span>
                    <span style="color: #EA4335;">e</span>
                    <span>-</span>
                    <span style="color: #FBBC05;">M</span>
                    <span style="color: #34A853;">a</span>
                    <span style="color: #4285F4;">p</span>
                </h4>
                
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1931.7727587252834!2d100.60874633063645!3d13.7324998123156!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x30e29b27cc36cfdd%3A0x4b0b9b7fba1a3102!2sUM%20Tower!5e0!3m2!1sen!2sth!4v1679480347798!5m2!1sen!2sth" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
    </div>
</body>
</html>
