<div class="container">
  <div class="login-form">
    <h2>Login</h2>
    <form (ngSubmit)="login()">
      <input [(ngModel)]="credentials.user_email" placeholder="Email" required type="email" name="email">
      <input [(ngModel)]="credentials.user_password" placeholder="Password" required type="password" name="password">
      
      <!-- แสดงข้อความ error ถ้ารหัสผ่านไม่ถูกต้อง -->
      <p *ngIf="errorMessage">{{ errorMessage }}</p>
      
      <button type="submit">Login</button>
    </form>
  </div>
</div>
