<h2>Available Resorts</h2>
<input type="text" [(ngModel)]="searchQuery" placeholder="ค้นหาห้องพัก" (input)="filterRooms()" />

<div *ngFor="let room of filteredRooms" class="room-container">
  <div class="room-image">
    <img [src]="room.room_image" alt="Room Image"/>
  </div>
  <div class="room-details">
    <h3>{{ room.room_name }}</h3>
    <p>{{ room.room_desc }}</p>
    <p>Price per day: {{ room.room_price }}</p>
    <p>Available stock: {{ room.room_stock }}</p>
    <p>Status: {{ room.room_status ? 'Available' : 'Not Available' }}</p>
    <div class="date-selection">
      <label>Start Date:</label>
      <input type="date" [(ngModel)]="startDate">
      <label>End Date:</label>
      <input type="date" [(ngModel)]="endDate">
    </div><hr>
    <button (click)="bookRoom(room)">Book Now</button>
  </div>
</div>
