<div class="container mt-5">
    <h1 class="text-center mb-4">ข่าวสารและกิจกรรม</h1>
    <div class="row">
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://s3-ap-southeast-1.amazonaws.com/builk3storage/product/20170811_055702_product_2085030_800_600.jpg"
            alt="โปรโมชั่นพิเศษเดือนนี้"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">รถมือ2 งานดีพร้อมใช้งาน</h5>
            <p class="card-text"><strong>2024-10-01</strong></p>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQfAD9dgK-DLqBLgRqg5bA5-LEV8-Lmz5Tffw&s"
            alt="รถมือ 1 ก็มีนะจ๊ะ"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">รถมือ 1 ก็มีนะจ๊ะ</h5>
            <p class="card-text"><strong>2024-10-05</strong></p>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
  
      <div class="col-md-4 mb-4">
        <div class="card">
          <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQNztWn7vYAB5D5tDvnJ_r1Ks42JCXKBUgWJg&s"
            alt="บริการใหม่ที่รีสอร์ท"
            class="card-img-top"
          />
          <div class="card-body">
            <h5 class="card-title">รถเพิ่งเข้า พร้อมปล่อยเช่า</h5>
            <p class="card-text"><strong>2024-10-07</strong></p>
            <p class="card-text"></p>
          </div>
        </div>
      </div>
    </div>
  </div>
  