<app-header></app-header>
<div class="full-width-container">
  <div class="d-flex justify-content-center">
    <a class="nav-link" routerLink="/">
      <button type="button" class="custom-btn">Home</button>
    </a>
    <a class="nav-link" routerLink="/room-list">
      <button type="button" class="custom-btn">Rooms</button>
    </a>
    <a class="nav-link" routerLink="/news">
      <button type="button" class="custom-btn">News</button>
    </a>
    <a class="nav-link" routerLink="/contact">
      <button type="button" class="custom-btn">Contact</button>
    </a>

    <!-- ปุ่ม Admin Manage จะแสดงเฉพาะเมื่อผู้ใช้เป็น Admin -->
    <a *ngIf="isAdmin" class="nav-link" routerLink="/admin-page">
      <button type="button" class="custom-btn">Admin Manage</button>
    </a>
  </div>
</div>

<div class="container mt-4">
  <router-outlet></router-outlet>
</div>
