<h2>Available Cars</h2>
<input type="text" [(ngModel)]="searchQuery" placeholder="ค้นหารถ" (input)="filterCars()" />

<div *ngFor="let car of filteredCars" class="car-container">
  <div class="car-image">
    <img [src]="car.car_image" alt="Car Image"/>
  </div>
  <div class="car-details">
    <h3>{{ car.car_name }}</h3>
    <ul>
      <li><strong>Description:</strong> {{ car.car_desc.split('-')[0] }}</li>
                <li><strong></strong> {{ car.car_desc.split('-')[1] }}</li>
                <li><strong></strong> {{ car.car_desc.split('-')[2] }}</li>
                <li><strong></strong> {{ car.car_desc.split('-')[3] }}</li>
                <li><strong></strong> {{ car.car_desc.split('-')[4] }}</li>
                <li><strong></strong> {{ car.car_desc.split('-')[5] }}</li>
      
    </ul>
    <p>Price per day: {{ car.car_price }} บาท</p>
    <p>Available stock: {{ car.car_stock }} คัน</p>
    <p>Status: {{ car.car_status ? 'Available' : 'Not Available' }}</p>
    <div class="date-selection">
      <label>Start Date:</label>
      <input type="date" [(ngModel)]="startDate">
      <label>End Date:</label>
      <input type="date" [(ngModel)]="endDate">
    </div><hr>
    <button [disabled]="car.car_stock === 0" (click)="bookCar(car)">
      ขอใบเสนอราคา
    </button>
    
    <!-- Optional: Show a message when stock is 0 -->
    <p *ngIf="car.car_stock === 0" style="color: red; font-weight: bold;">Out of stock</p>
  </div>
</div>
