.carousel-item img {
    height: 400px; /* ตั้งค่าความสูงที่ต้องการ */
    object-fit: cover; /* ครอบคลุมพื้นที่และครอบรูปให้ดูดี */
  }

  .horizon-scroll {
    display: flex;
    overflow-x: auto;
    gap: 20px;
    padding: 20px 0;
  }
  
  .room-preview {
    min-width: 300px;
    border: 1px solid #ddd;
    border-radius: 10px;
    overflow: hidden;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
  }
  
  .room-preview img {
    width: 100%;
    height: 200px;
    object-fit: cover;
  }
  
  .room-preview h4 {
    margin: 10px 0;
    min-height: 100px; /* กำหนดความสูงขั้นต่ำให้กับชื่อรีสอร์ท */
  }
  
  .room-preview button {
    margin-top: auto;
    background-color: #3498db;
    border: none;
    color: white;
    padding: 10px;
    cursor: pointer;
  }
  
  .room-preview button:hover {
    background-color: #2980b9;
  }
  
  