<div class="dashboard">
  <nav class="sidebar">
    <ul>
      <li><h3>Car manage</h3></li>
      <li><a routerLink="/car-manage">Cars manage</a></li>
      <li><a routerLink="/booking-manage">Rents manage</a></li>
    </ul>
  </nav>

  <div class="main-content">
    <div class="filter-section">
      <div class="date-filters">
        <label for="startDate">Start Date:</label>
        <input id="startDate" type="date" [(ngModel)]="startDate" (change)="applyFilters()" />

        <label for="endDate">End Date:</label>
        <input id="endDate" type="date" [(ngModel)]="endDate" (change)="applyFilters()" />
      </div>

      <div class="resort-filter">
        <label for="Carname">Car Name:</label>
        <input id="Carname" type="text" [(ngModel)]="carName" placeholder="Enter Carname" (input)="applyFilters()" />
      </div>

      <div class="customer-filter">
        <label for="customerName">Customer Name:</label>
        <input id="customerName" type="text" [(ngModel)]="customerName" placeholder="Enter customer name" (input)="applyFilters()" />
      </div>

      <div class="status-filter-buttons">
        <button (click)="filterByStatus('booking')" class="filter-button">Book Car</button>
        <button (click)="filterByStatus('check-in')" class="filter-button">Currently Renting</button>
        <button (click)="filterByStatus('check-out')" class="filter-button">Finished Renting</button>
        <button (click)="resetFilter()" class="filter-button">All</button>
      </div>
    </div>

    <!-- Table to display bookings -->
    <div class="bookings-container">
      <table class="booking-table">
        <thead>
          <tr>
            <th>Booking ID</th>
            <th>Car Name</th>
            <th>User</th>
            <th>Booking Date</th>
            <th>Status</th>
            <th>Actions</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let booking of filteredBookings">
            <td>{{ booking.booking_id }}</td>
            <td>{{ booking.car_name }}</td>
            <td>{{ booking.user_name }}</td>
            <td>{{ booking.start_date | date }} - {{ booking.end_date | date }}</td>
            <td>{{ booking.booking_status }}</td>
            <td>
              <div class="dropdown">
                <button class="dropdown-button">Action</button>
                <div class="dropdown-content">
                  <button (click)="updateBookingStatus(booking.booking_id, 'booking')">Book Car</button>
                  <button (click)="updateBookingStatus(booking.booking_id, 'check-in')">Check In</button>
                  <button (click)="updateBookingStatus(booking.booking_id, 'check-out')">Check Out</button>
                  <button (click)="deleteBooking(booking.booking_id)">Delete</button>
                </div>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
